- const svgTitleId = 'svg-title';
- const svgDescriptionId = 'svg-description';
svg(
	role='img',
	viewbox='0 0 3 3',
	aria-describedby=`${svgTitleId} ${svgDescriptionId}`,
	xmlns='http://www.w3.org/2000/svg',
	style=`width: ${styles.contentSkillsGraphSize}`
)
	title(id=svgTitleId) #{args.skillZone}
	desc(id=svgDescriptionId) #{args.skillZoneDescription}
	- let cumulativePercent = 0;
	-
		const slices = [
			['Frontend', 0.4, [['1.05','1.15'], ['2.9', '0.080']]],
			['Backend', 0.4, [['2.05','1.15'], ['2.9', '1.5']]],
			['Devops', 0.2, [['1.65','2'], ['2.9', '2.905']]]
		];

	each slice in slices
		- const [sliceName, slicePercent, lines] = slice
		g
			- const largeArcFlag = slicePercent > 0.5 ? 1 : 0;
			- const [startX, startY] = util.pieChart.getCoordinatesForPercent(cumulativePercent);
			- cumulativePercent += slicePercent;
			- const [endX, endY] = util.pieChart.getCoordinatesForPercent(cumulativePercent);
			- const [[startLineX, startLineY], [endLineX, endLineY]] = lines
			path(
				class=styles.graphPeaceStroke,
				fill='transparent',
				stroke-width='0.035',
				data-name=`${sliceName} ${slicePercent*100}/100`,
				d=[
					/* Move */`M ${startX} ${startY}`, /* Arc */`A 1 1 0 ${largeArcFlag} 1 ${endX} ${endY}`, /* Line */`L ${util.pieChart.center} ${util.pieChart.center}`
				].join(' ')
			)
			polyline(
				fill='none',
				stroke='#000000',
				stroke-width='0.025',
				stroke-linecap='round',
				stroke-linejoin='round',
				points=`${startLineX} ${startLineY},2.70 ${endLineY},${endLineX} ${endLineY}`
			)
			circle(fill='#000000', cx=startLineX, cy=startLineY, r='0.05')
			circle(fill='#000000', cx=endLineX, cy=endLineY, r='0.05')
