svg(
	role='img',
	viewbox='0 20 580 440',
	xmlns='http://www.w3.org/2000/svg'
)
	title #{args.skillZone}
	desc #{args.skillZoneDescription}
	g
		path(
			class=styles.graphPeace,
			data-name='4/8 Frontend',
			d='M444.043,240H29.913c0-115,92.706-207.064,207.065-207.064C351.337,32.936,444.043,125,444.043,240z'
		)
		g
			path(
				class=styles.graphPeaceStroke,
				d='M444.043,238.5c-33.639,0-67.277,0-100.916,0c-64.202,0-128.405,0-192.607,0c-39.696,0-79.393,0-119.089,0 \
					c-0.506,0-1.012,0-1.518,0c0.5,0.5,1,1,1.5,1.5c0.152-46.006,15.401-90.846,43.775-127.114 \
					c27.451-35.088,66.307-60.319,109.302-71.73c44.886-11.913,93.515-7.847,135.966,10.829 \
					c40.598,17.861,74.505,49.174,96.191,87.775c17.146,30.519,25.779,65.303,25.895,100.24c0.007,1.935,3.007,1.935,3,0 \
					c-0.146-44.455-14.173-87.86-40.466-123.744c-25.345-34.591-61.409-60.542-101.999-74.188c-42.564-14.31-89.622-14.008-132.201,0 \
					c-40.744,13.405-76.482,39.82-101.999,74.188C42.43,151.88,28.559,195.742,28.413,240c-0.003,0.818,0.685,1.5,1.5,1.5 \
					c33.639,0,67.277,0,100.916,0c64.202,0,128.405,0,192.607,0c39.696,0,79.393,0,119.089,0c0.506,0,1.012,0,1.518,0 \
					C445.978,241.5,445.978,238.5,444.043,238.5z'
			)
	g
		path(
			class=styles.graphPeace,
			data-name='1/8 Devops',
			d='M236.958,240.123l206.97,0.167c0.064,52.972-20.18,105.876-60.553,146.249L236.958,240.123z'
		)
		g
			path(
				class=styles.graphPeaceStroke,
				d='M236.958,241.623c48.898,0.039,97.796,0.079,146.694,0.118c20.092,0.017,40.184,0.032,60.275,0.049c-0.5-0.5-1-1-1.5-1.5 \
					c-0.143,54.421-21.798,106.562-60.113,145.188c0.707,0,1.414,0,2.121,0c-34.592-34.592-69.184-69.184-103.776-103.775 \
					c-14.214-14.214-28.427-28.427-42.641-42.641c-1.369-1.369-3.49,0.752-2.121,2.121c34.592,34.592,69.184,69.184,103.776,103.775 \
					c14.213,14.214,28.427,28.428,42.641,42.641c0.576,0.576,1.546,0.58,2.121,0c38.86-39.176,60.848-92.113,60.992-147.31 \
					c0.002-0.818-0.684-1.5-1.5-1.5c-48.898-0.04-97.796-0.079-146.694-0.118c-20.092-0.017-40.184-0.033-60.275-0.049 \
					C235.023,238.622,235.023,241.621,236.958,241.623z'
			)
	g
		path(
			class=styles.graphPeace,
			data-name='3/8 Backend',
			d='M235.567,240.141l-205.605-0.168c-0.188,53.255,20.132,106.528,60.808,147.203 c80.864,80.864,210.517,81.318,291.834,0.001L235.567,240.141z'
		)
		g
			path(
				class=styles.graphPeaceStroke,
				d='M235.567,238.641c-48.968-0.04-97.935-0.08-146.903-0.12c-19.567-0.016-39.135-0.032-58.703-0.048 \
				c-0.817,0-1.5,0.683-1.5,1.5c0.015,53.203,20.284,104.433,56.51,143.373c32.109,34.515,75.768,57.23,122.363,64.037 \
				c64.547,9.429,130.22-13.355,176.329-59.146c0.58-0.576,0.576-1.545,0-2.121c-34.599-34.599-69.198-69.198-103.797-103.797 \
				c-14.413-14.413-28.826-28.826-43.239-43.239c-1.369-1.369-3.49,0.752-2.121,2.121c34.599,34.6,69.198,69.198,103.797,103.797 \
				c14.413,14.413,28.826,28.826,43.239,43.239c0-0.707,0-1.414,0-2.121c-34.542,34.303-79.97,55.711-128.545,59.733 \
				c-47.197,3.909-94.721-9.447-133.498-36.452c-55.029-38.323-88.02-102.531-88.038-169.425c-0.5,0.5-1,1-1.5,1.5 \
				c48.968,0.04,97.935,0.08,146.903,0.12c19.567,0.016,39.135,0.032,58.703,0.048C237.502,241.643,237.502,238.642,235.567,238.641z'
			)
	g
		polyline(
			fill='none',
			stroke='#000000',
			stroke-width='2',
			stroke-linecap='round',
			stroke-linejoin='round',
			points='240.025,135.01 475.125,30 553,30'
		)
		circle(fill='#000000', cx='240.41', cy='134.933', r='3.76')
		circle(fill='#000000', cx='553.24', cy='30', r='3.76')
	g
		polyline(
			fill='none',
			stroke='#000000',
			stroke-width='2',
			stroke-linecap='round',
			stroke-linejoin='round',
			points='360.44,287.153 508.747,240.543 552.415,240.543'
		)
		circle(fill='#000000', cx='360.784', cy='286.868', r='3.759')
		circle(fill='#000000', cx='552.655', cy='240.123', r='3.76')
	g
		polyline(
			fill='none',
			stroke='#000000',
			stroke-width='2',
			stroke-linecap='round',
			stroke-linejoin='round',
			points='190.497,342.818 489,448.58 553,448.58'
		)
		circle(fill='#000000', cx='190.888', cy='342.758', r='3.76')
		circle(fill='#000000', cx='553.24', cy='448.58', r='3.76')

