doctype html
html(lang=args.language)
	head
		title #{args.title}
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
		link(rel='manifest', href=`/manifest.${args.language.split('-').shift()}.json`)
		link(rel='icon', type='image/x-icon', href='/favicon/favicon.ico')
		link(rel='shortcut icon', type='image/x-icon', href='/favicon/favicon.ico')
		link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
		| !{htmlWebpackPlugin.tags.headTags}
	body(class=`${styles.body} h-resume`)
		header(class=styles.headerWrapper)
			figure(class=styles.headerPhoto)
				picture
					source(type='image/webp', srcset=`${args.photo.file}.webp`, width='169', height='169')
					source(type=args.photo.type, srcset=`${args.photo.file}.${args.photo.ext}`, width='169', height='169')

					img(src=`${args.photo.file}.${args.photo.ext}`, loading='lazy', width='169', height='169', alt=args.photoAlt)
			hgroup(class=styles.headerNameAndJob)
				h1(class='p-name') #{args.name}
				h2(class='p-skill') #{args.job}
			nav(class=styles.headerContactsWrapper)
				ul(class=styles.headerContacts)
					- const contactTypes = Object.keys(args.contacts)
					each t in contactTypes
						li(title=t)
							a(href=args.contacts[t].href, target='_blank', rel='noopener')
								figure
									| !{require(`./images/icons/${t}.pug`)({ styles })}
									figcaption #{args.contacts[t].text}
			p(class=`${styles.headerAbout} p-summary`) !{args.aboutMe}

		main(class=styles.contentWrapper)
			section(class=styles.contentSkills)
				| !{require('./graph.pug')({ args, util, styles })}
				ol(class=styles.skillsZone, aria-label=args.skillZone)
					li(class='p-skill') Frontend
					li(class='p-skill') Devops
					li(class='p-skill') Backend

			section(id='list-projects', class=styles.contentProjects)
				ol(class=styles.projectsList, aria-label=args.projects)
					each project in args.projectsList
						li(class=styles.projectItem)
							details
								summary
									- const { month, year } = project.date;
									b #{project.summary.name}
									time(datetime=`${year}-${month}`) #{args.monthsOfYear[month - 1]} #{year}
								p #{project.summary.description}
							dl(class=styles.projectCategories)
								- const tagTypes = Object.keys(project.tags)
								each tagType in tagTypes
									each tagValue in project.tags[tagType]
										dt #{tagType}
										dd(class=(tagType === 'tecnologia' ? 'p-skill':''))
											| #{tagValue}

				button(
					type='button',
					data-go-to='-250',
					class=styles.seeMoreButton,
					data-list-items=`.${styles.projectsList}`
				)
					| #{args.seeRecent}
				button(
					type='button',
					data-go-to='250',
					class=styles.seeMoreButton,
					data-list-items=`.${styles.projectsList}`
				)
					| #{args.seePrevious}

			section(id='list-experiences', class=styles.contentExperiences)
				ol(class=styles.experiencesList, aria-label=args.experiences)
					each job in args.jobList
						- const roles = Array.from(job.roles.keys())
						li(class=`${styles.experiencesItem} p-experience`)
							details
								summary
									b #{job.company}
									- const [, endDate] = job.roles.get(roles[0]);
									if endDate
										- const [startDate] = job.roles.get(roles[roles.length -1]);
										- const days = util.calculateDays(startDate, endDate);

										time(datetime=`P${days}D`)
											- const text =
											- days < 360
											- ? (
											-    days > 30
											-    ? `${Math.ceil(days / 30)} ${args.months}`
											-    : `${days} ${args.days}`
											- )
											- : `${Math.ceil(days / 360)} ${args.years}`;
											| #{ text }
									else
										| #{args.currently}
								p #{job.details}
								ol
									each role in roles
										- const [start, end] = job.roles.get(role);
										li
											b #{role}

											span De
												= ' '
												- const [year, month] = start;
												time(datetime=`${year}-${month}`)
													| #{args.monthsOfYear[month - 1]} #{year}
											span
												if end
													| Até
													= ' '
													- const [year, month] = end;
													time(datetime=`${year}-${month}`)
														| #{args.monthsOfYear[month - 1]} #{year}
												else
													| #{end}
							picture
								- const [image, ext, type] = job.logo
								source(type='image/webp', srcset=`${image}.webp`, width='74', heigth='74', style=`width:${styles.experienceImageSize};max-height:${styles.experienceImageSize}`)
								source(type=type, srcset=`${image}.${ext}`, width='74', heigth='74', style=`width:${styles.experienceImageSize};max-height:${styles.experienceImageSize}`)
								img(src=`${image}.${ext}`, loading='lazy', width='74', heigth='74', style=`width:${styles.experienceImageSize};max-height:${styles.experienceImageSize}`, alt=job.company)

				button(
					type='button',
					data-go-to='-100',
					class=styles.seeMoreButton,
					data-list-items=`.${styles.experiencesList}`
				)
					| #{args.seeRecent}

				button(
					type='button',
					data-go-to='100',
					class=styles.seeMoreButton,
					data-list-items=`.${styles.experiencesList}`
				)
					| #{args.seePrevious}

			section(id='list-courses', class=styles.contentAcademic)
				ol(class=styles.academicList, aria-label=args.academic)
					each academic in args.academicList
						li(class=`${styles.academicItem} p-education`)
							p
								b #{academic.summary.course}
								br
								| #{academic.summary.school}
							- const { start, end } = academic;
							- const { year, month } = start;
							span De
								= ' '
								time(datetime=`${year}-${month}`)
									| #{args.monthsOfYear[month - 1]} #{year}

							span
								if typeof end !== 'string'
									| Até
									= ' '
									- const { year, month } = end;
									time(datetime=`${year}-${month}`)
										| #{args.monthsOfYear[month - 1]} #{year}
								else
									| #{end}

				button(
					type='button',
					data-go-to='-100',
					class=styles.seeMoreButton,
					data-list-items=`.${styles.academicList}`
				)
					| #{args.seeRecent}

				button(
					type='button',
					data-go-to='100',
					class=styles.seeMoreButton,
					data-list-items=`.${styles.academicList}`
				)
					| #{args.seePrevious}

			section(class=styles.contentArticles)
				ol(class=styles.articlesList, aria-label=args.articlesAndPosts)
					each articleOrPost in args.articlesAndPostsList
						li(class=styles.articlesItem)
							a(href=articleOrPost.link)
								article
									figure
										picture
											- const [image, ext, type] = articleOrPost.image
											source(type='image/webp', srcset=`${image}.webp`, width='229', height='229', style=`width:${styles.articleImageSize}`)
											source(type=type, srcset=`${image}.${ext}`, width='229', height='229', style=`width:${styles.articleImageSize}`)
											img(src=`${image}.${ext}`, loading='lazy', width='229', height='229', style=`width:${styles.articleImageSize}`, alt=articleOrPost.title)
										figcaption #{articleOrPost.title}
									- const { month, year } = articleOrPost.date;
									i #{articleOrPost.platform}
									time(datetime=`${year}-${month}`)
										| #{args.monthsOfYear[month - 1]} #{year}
		script(type='application/ld+json').
			!{require('./json-ld')(args)}
		| !{htmlWebpackPlugin.tags.bodyTags}
