script(type="application/ld+json").
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "#{args.address.city}",
      "addressRegion": "#{args.address.state}",
      "postalCode": "#{args.address.cep}",
      "streetAddress": "#{args.address.street}"
    },
    "colleague": [],
    "email": "mailto:#{args.contacts_raw.email}",
    "image": "#{args.photo}",
    "jobTitle": "#{args.job}",
    "name": "#{args.name}",
    "telephone": "#{args.contacts_raw.phone}",
    "url": "#{args.site}"
  }